{
    "web": {
        "IndexPageName": "Mapping Latam Web"
    },
    "web-private": {
        "Name": "Mapping Latam Web Private"
    },
    "cloudflare": {
        "BucketName": "mapping-latam",
        "PublicURL": "https://pub-xxxxxxxxxxxxxxxx.r2.dev",
        
        "Token": "XXXXXXXXXXXXXXXXXXXXXXXXX",
        "AccessKeyID": "XXXXXXXXXXXXXXXXXXXXXXXXX",
        "SecretAccessKey": "XXXXXXXXXXXXXXXXXXXXXXXXX",
        "EndPoint": "https://xxxxxxxxxxxxxxxx.r2.cloudflarestorage.com"
    }
}