{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{{ IndexPageName }}</title>
</head>
<body>
    <div class="mp-header">

    </div>



    <div class="mp-maincontent">
        <div class="mp-leftbar">
            <div class="mp-leftbar-item">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                <h3>Hola 1</h3>
            </div>
            <div class="mp-leftbar-item">
                <h3>Hola 3</h3>
            </div>
            <div class="mp-leftbar-item">
                <h3>Hola 4</h3>
            </div>
        </div>

        <div class="mp-midbar">
            <div style="height: 1000px;"></div>
                hola2
            </div>
        </div>
    </div>

</body>
</html>