{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'post.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>{{ IndexPageName }}</title>
</head>
<body>
    <div class="mp-header">

    </div>



    <div class="mp-maincontent">
        <div class="mp-leftbar">
            <div class="mp-leftbar-item">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                <h3>Hola 1</h3>
            </div>
            <div class="mp-leftbar-item">
                <h3>Hola 3</h3>
            </div>
            <div class="mp-leftbar-item">
                <h3>Hola 4</h3>
            </div>
        </div>

        <div class="verticalline-left"></div>
        <div class="mp-midbar" identifier="hola">
            <div class="mp-post">
                <div class="mp-post-author">
                    <div class="mp-post-author-left">
                        <div class="mp-post-author-profile">
                            <img src="https://github.mapping-latam.cl/html/img/html_logo.png" class="mp-post-author-profile-img">
                        </div>
                    </div>
                    <div class="mp-post-author-right">
                        <div class="mp-post-author-name">vicentefelipechile</div>
                        <div class="mp-post-author-timestamp">2024-05-31</div>
                    </div>
                </div>
                <div class="mp-post-edit"></div>
            </div>
        </div>
        <div class="verticalline-right"></div>
    </div>

</body>
</html>