/* Django version 5.0 */
/* add Robot font */
@font-face {
    font-family: "RobotoBold";
    src: url("/static/fonts/Roboto-Medium.ttf")
}

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: "RobotoLight";
    src: url("/static/fonts/Roboto-Light.ttf")
}

* {
    color: white;
    font-family: "Roboto", Arial;
    cursor: default;
}

body {
    background-color: rgb(21, 32, 43);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.verticalline-left {
    border-left: 1px solid rgb(37, 47, 58);
    height: 100vh;
    right: calc(75vw + 16px);
    position: fixed;
}

.verticalline-right {
    border-left: 1px solid rgb(37, 47, 58);
    height: 100vh;
    left: calc(75vw + 16px);
    position: fixed;
}

.mp-maincontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mp-leftbar {
    position: fixed;
    height: 100%;
    right: calc(75vw + 26px);
    width: 170px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mp-leftbar-item {
    font-family: "RobotoLight", Arial;
    padding: 10px;
    border-bottom: 1px solid rgb(21, 32, 43);

    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 6px;
}

.mp-leftbar-item:hover {
    background: linear-gradient(90deg, rgb(0, 0, 0, 0), rgb(13, 22, 31));
    cursor: pointer;
}

.mp-midbar {
    width: 50vw;

    padding-left: 16px;
    padding-right: 16px;
}